@page "/gps"
@inject GeolocationService GeolocationService

<h1>Geolocation</h1>

@if (_coordinates != null)
{
    <p>Latitude: @_coordinates.Latitude</p>
    <p>Longitude: @_coordinates.Longitude</p>
}
else if (_error != null)
{
    <p>Error: @_error</p>
}
else
{
    <p>Loading...</p>
}

@code {
    private GeolocationCoordinates? _coordinates;
    private string? _error;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _coordinates = await GeolocationService.GetCurrentPosition();
        }
        catch (Exception ex)
        {
            _error = ex.Message;
        }
    }
}