@page "/"

<PageTitle>Home</PageTitle>

<h1 style="font-family:'French Script MT';text-align:center">Applicazione di login e modifica di una persona</h1>
<h2 style="font-family:'French Script MT';text-align:center">Naviga nella barra laterale per scegliere cosa fare</h2>
